html {

	
}
.header
{
	height: 100vh;
}
.navbar-style
{
	box-shadow: 0 5px 10px #efefef;
}
.logo
{
	position: absolute;
	top: 0;
	left: 0;
}
.icon-bar
{
	background: orange;
}

li a
{
	color: orange;
	font-size: 1.5em;
}
p {
	position: absolute;
	right: 0;
	top: 10px;
}
p {
	font-weight: bold;
	margin: 0;
}
.callus {
	position: absolute;
	right: 20px;
	top: 30px
}
.callus {
	color: navy;
}
h2{
	font-style: italic;
}
h1 {
	text-align: center;
	font-family: 
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.photo {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	max-width: 75%;
}
.photo {
	color: orange;
}
.socialmedia {
	color: orange;
	text-align: center;
	margin-top: 150px;
}
 

	






